<!doctype html>
<html ng-app="app">
    <meta charset="UTF-8">
    <head>
        <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="main.css" />
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/lodash/dist/lodash.min.js"></script>	
        <script type="text/javascript" src="bower_components/angular-touch/angular-touch.js"></script>
        <script type="text/javascript" src="bower_components/fastclick/lib/fastclick.js"></script>
        <script type="text/javascript" src="bower_components/stateful-fastclick/dist/stateful-fastclick.js"></script>
        <script type="text/javascript" src="bower_components/ng-fastclick/dist/index.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="storage.js" charset="Windows-1251"></script>
        <script type="text/javascript" src="containerResize.directive.js"></script>
        <script type="text/javascript" src="main.controller.js"></script>
        <script type="text/javascript" src="start.controller.js"></script>
        <script type="text/javascript" src="word.controller.js"></script>


    </head>
    <body ng-controller="MainController" container-resize>

        <header>
            <a href="#start" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <button class="btn btn-default btn-lg pull-right" ng-click="downloadAll()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </header>

        <div id="words-container" ng-view></div>

        <button ng-show="inProgress" class="btn btn-success btn-prev-word">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button ng-show="inProgress" class="btn btn-success btn-next-word" ng-click="nextWord()">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>

    </body>
</html>