
<span>Stars:</span>
<select ng-model="stars">
	<option value="0">All</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
</select>
<select ng-model="material" multiple>
	<option value="4">Friends</option>
	<option value="44">Overall</option>
        <option value="45">Phrases</option>
</select>
<select ng-model="type" multiple>
	<option value="0">Word</option>
	<option value="1">Phrases</option>
</select>
<select ng-model="translation">
	<option value="ruseng" selected="selected">Русский > Английский</option>
	<option value="engrus">English > Russian</option>
</select>

<button ng-click="start()" class="btn btn-primary">Go</button>