
header {
	height: 100px;
	padding: 1em;
}

#words-container {
	font-size: 1.5em;
}

a.origin-word {
	font-size: 1.7em;
	text-decoration: none;
	color: #333;
	font-weight: 500;
}

.btn-prev-word, .btn-next-word {
	position: fixed;
	bottom: 50px;
	width: 10%;
	padding-top: 9%;
	border-radius: 45px;
	opacity: 0.5;
	font-size: 3em;
}

.btn-prev-word span, .btn-next-word span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
}

.btn-prev-word {
	left: 50px;
}

.btn-next-word {
	right: 50px;
}