<div class="word-header">
    <div class="row">
        <div class="col-xs-6">
            <a href="#words" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-arrow-left"></span> Back to Words
            </a>
        </div>
        <div class="col-xs-6">
        </div>
    </div>
</div>

<div class="container">
    <form name="wordform">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="origin">Origin</label>
                    <input type="text" class="form-control" id="origin" ng-model="word.origin" tabindex="1">
                </div>
                <div class="form-group">
                    <label for="origincomments">Comments</label>
                    <textarea class="form-control" rows="5" id="origincomments" ng-model="word.origincomments" tabindex="3"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="type" ng-model="word.type"> It's a Phrase
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <a href="" class="btn btn-default" ng-click="addPronNote()">Pronunciation</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="translation">Translation</label>
                    <input type="text" class="form-control" id="translation" ng-model="word.translation" tabindex="2">
                </div>
                <div class="form-group">
                    <label for="translationcomments">Comments</label>
                    <textarea class="form-control" rows="5" id="translationcomments" ng-model="word.translationcomments" tabindex="4"></textarea>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg" ng-click="save()">Create</button>        
            </div>
        </div>
    </form>
</div>